* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200vh;
    background-image: url(background.jpg);
}


form {
    color: #E7F6F2;
    display: flex;
    flex-direction: column;
    width: 70em;
    height: 140vh;
    background-color: #3D3C42;
    padding: 0px 30px 10px 30px;
        border-radius: 2%;
}
header h1 {
    margin: 21px 10px;
    display: flex;
    justify-content: center;
}

.event {
    display: flex;
    flex-direction: column;
}

.event:hover,
.event:focus {
    color: #A1B57D;
}

div label {
    margin-bottom: 5px;
    margin-top: 10px;
}