html {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #FCF8E8;
    
}

form {
    display: flex;
    flex-direction: column;
    width: 70em;
    height: 99vh;
    background-color: #94B49F;
    padding: 0px 10px 5px 10px;
    margin: 0;
}